.idea/
/.idea/
/.vscode/
.DS_Store
/backend/.env.local
/backend/.env.local.php
/backend/.env.*.local
/backend/config/secrets/prod/prod.decrypt.private.php
/backend/public/bundles/
/backend/var/
/backend/vendor/
/backend/phpunit.xml
/backend/.phpunit.result.cache
/backend/public/assets/
/backend/assets/vendor/
/backend/.phpcs-cache
/backend/phpcs.xml
/backend/phpstan.neon
/.docker/SQL/data/
!/.docker/SQL/data/.gitignore